.jc-center {
	justify-content: center;
}

.jc-start {
	justify-content: start;
}

.jc-end {
	justify-content: end;
}

.jc-around {
	justify-content: space-around;
}

.jc-between {
	justify-content: space-between;
}

.jc-even {
	justify-content: space-evenly;
}

.js-center {
	justify-self: center;
}

.js-start {
	justify-self: start;
}

.js-end {
	justify-self: end;
}

.ai-center {
	align-items: center;
}

.ai-start {
	align-items: start;
}

.ai-end {
	align-items: end;
}

.as-center {
	align-self: center;
}

.as-start {
	align-self: start;
}

.as-end {
	align-self: end;
}

.ac-center {
	align-content: center;
}

.ac-start {
	align-content: start;
}

.ac-end {
	align-content: end;
}

.ac-around {
	align-content: space-around;
}

.ac-between {
	align-content: space-between;
}

.ac-even {
	align-content: space-evenly;
}
