@use '../reset/colors' as *;

.card-link {
	display: flex;
	flex-direction: column;
	transition: background 100ms ease-out 0s;
	cursor: pointer;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
	border-radius: 4px;
	background: #ffffff;
	&:link,
	&:visited,
	&:active {
		text-decoration: none;
		color: var(--primary-20);
	}
	img {
		width: 100%;
		height: 180px;
		object-fit: cover;
		object-position: center center;
	}

	footer {
		padding: 12px;
	}
}
