@mixin tagStyles {
	display: flex;
	align-items: center;
	height: 20px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 14px;
	font-weight: 400;
}

.pink-tag {
	@include tagStyles;
	color: hsl(331, 37%, 22%);
	background: hsl(334, 51%, 92%);
}

.green-tag {
	@include tagStyles;
	color: hsl(180, 37%, 22%);
	background: hsl(180, 51%, 92%);
}

.blue-tag {
	@include tagStyles;
	color: hsl(240, 37%, 22%);
	background: hsl(240, 51%, 92%);
}
