.tag {
	display: flex;
	align-items: center;
	height: 20px;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(76, 35, 55);
	background: rgb(245, 224, 233);
}
